@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body{
    margin: 0;
}

/* Shared styles */

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #fff;
    border: 0;
    cursor: pointer;
}


/* Header Styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 220px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    color: #424242;
}


/* Banner Styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-size: 1rem;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}


/* Responsive Styles */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    } 

    nav {
        flex-direction: column;
    }
}

/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    } 

    nav {
        flex-direction: column;
    }
}


/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.quick-list{
    color: #727272;
    font-weight: 500;
}

.team-features{
    color: #FF900E;
    font-weight: 700;
}