@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

/* Shared styles */

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.cmn-description {
    color: #727272;
    font-size: 1rem;
}


/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 220px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



/* Main Styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams Styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.team-features {
    color: #FF900E;
    font-weight: 700;
}


/* Features Section Styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 1.5rem;
}

.features-card {
    margin-top: 1.25rem;
    padding: 1.9rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-card {
    font-size: 1.25rem;
    font-weight: 600;
}

.ten-year-badge {
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 30px;
    color: #FFF;
    text-align: center;
}

.ten-year-badge h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.ten-year-badge p {
    font-size: 1.5rem;
    margin: 0.8rem 0 0;
}



/* Facts Section Styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 35px 40px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors Styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.7rem;
}

.sponsors-img-container img {
    width: 165.833px;
    height: 50px;
    filter: grayscale(100%);
}


/* Responsive Styles */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding: 0 20px;
    }

    .facts-card-container {
        gap: 1rem;
    }
}

/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .facts-card-container,
    .sponsors-img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-content: center;
    }
}